
<html ng-app="nctLab">
<head>
    <title>Training Day Labs</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>

<!-- SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script><!-- load angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.min.js"></script>
    
   <!-- load angular -->
   
	<script src="js/controllers/labsmain.js"></script> <!-- load up our controller -->
	<script src="js/services/labs.js"></script> <!-- load our todo service -->
	<script src="js/labscore.js"></script> <!-- load our main application -->

</head>
<body ng-controller="mainController">
<div class="container">
    <div class="page-header text-center">
    <img src="../img/Databear.jpg" height="200" width="300">
    </div>
    <div class="page-header text-center">
        <h1><span class="fa fa-hashtag"></span> Training Day Labs</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


<!--Getting Started -->
        <div class="col-sm-13">
            <div class="well">
                <h3><span class="fa fa-play"></span> Getting Started</span></h3>
                
                <h5>Welcome to Cisco Training Day!</h5>
                <h5>We have labs available spanning across all architectures. Please select a lab below and it will be added to your "My Labs" and you will recieve access information.
                    If you need any help getting started please ask a Cisco team member, we are here to help you! </h5>
                <div> 
                   <h5>Gold Labs: These labs do not require Anyconnect VPN and are good for end to end deployment of architectures.</h5>
        
                   </div>
                    <h5>Dcloud Labs: Dcloud labs are good for exploring advanced features of Cisco architectures. You will need to install the Anyconnect VPN Client to work with Dcloud. You need to use a Remote Desktop Client(RDP) to connect to the Dcloud Lab Workstation. All the tools for your lab are on this Workstation. </h5>
                <div>
                    <h5>Please select labs that you intend to use, so that we have pods available for everyone.</h5>
                    <h3><span class="fa fa-question-circle"></span><a href="/whichlab">Which lab should I do?</a></span></h3>
                    <h3><span class="fa fa-chevron-circle-down"></span><a href="https://cisco.app.box.com/s/owz2abp8dzk5lspbej6mwr4b951js2m4" target="_blank">Download Anyconnect</a></span></h3>
                    <div>
            </div>
            </div>
            </div>
        </div>


  <!-- My labs -->
        <div class="col-sm-13">
            <div class="well">
                <h3><span class="fa fa-user"></span> {{usercookie}} : My Labs<span class="label label-info">{{ labsbyuser.length }}</span></h3>
                <h5>GOLD Labs:</h5>
                <div class="checkbox" ng-repeat="labuser in labsbyuser | filter:{ labtype: 'goldlab' } as results">
                    <b>Lab Name:</b> {{ labuser.labname }} <b>Architecture:</b> {{labuser.labarch}} <b>GOLD Lab Name:</b> {{labuser.goldclassname}} <b>GOLD Lab URL:</b> <a ng-href="{{labuser.goldurl}}">{{labuser.goldurl}}</a> 
                   </div>
                    <h5>Dcloud Labs:</h5>
                <div class="checkbox" ng-repeat="labuser in labsbyuser | filter:{ labtype: 'dcloud' } as results">
                    <b>Lab Name:</b> {{ labuser.labname }} Lab Session ID:</b> {{ labuser.dcloudid }} <b>Architecture:</b> {{labuser.labarch}} <b>Dcloud Username:</b> {{labuser.dclouduser}} <b>Dcloud Password:</b> {{labuser.dcloudpass}} 
                    <div>
                    <b>Dcloud Anyconnect URL:</b> <a ng-href="{{labuser.dcloudasa}}">{{labuser.dcloudasa}}</a>
                    <b>Lab Guide:</b> <a ng-href="{{labuser.labguide}}">{{labuser.labguide}}</a>       
            </div>
            </div>
            </div>
        </div>

    <div class="row">
      
        <!-- Enterprise Labs -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-cogs"></span> Enterprise Networks</h3>
                <div class="checkbox" ng-repeat="lab in enlabs | unique: 'labname'"></span>
                    <input type="checkbox" ng-click="bookLab(usercookie,lab.labname)"> <b>Lab Name:</b> {{ lab.labname }} <b>Lab Type:</b> {{lab.labtype}}
            </div>
        </div>
        </div>
        
        <!-- Collaboration Labs -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-video-camera"></span> Collaboration</h3>   
                <div class="checkbox" ng-repeat="lab in collablabs | unique: 'labname'"></span>
                    <input type="checkbox" ng-click="bookLab(usercookie,lab.labname)"> <b>Lab Name:</b> {{ lab.labname }} <b>Lab Type:</b> {{lab.labtype}}
            </div>
            </div>
        </div>
    </div>
  
  <div class="row">
        <!--Datacenter Labs -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-server"></span> Datacenter</h3>
                <div class="checkbox" ng-repeat="lab in dclabs | unique: 'labname'">
                    <input type="checkbox" ng-click="bookLab(usercookie,lab.labname)"> <b>Lab Name:</b> {{ lab.labname }}
            </div>
            </div>
        </div>

        <!-- Security Labs -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-lock"></span> Security</h3>

                <div class="checkbox" ng-repeat="lab in seclabs | unique: 'labname'">
                    <input type="checkbox" ng-click="bookLab(usercookie,lab.labname)"> <b>Lab Name:</b> {{ lab.labname }} <b>Lab Type:</b> {{lab.labtype}}
            </div>

            </div>
        </div>
    </div>
 <div class="row">
        <!-- Devnet Labs -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-code"></span> Devnet</h3>

                <div class="checkbox" ng-repeat="lab in devnetlabs | unique: 'labname'">
                    <input type="checkbox" ng-click="bookLab(usercookie,lab.labname)"> <b>Lab Name:</b> {{ lab.labname }} <b>Lab Type:</b> {{lab.labtype}}
            </div>
            </div>
        </div>
 <!-- Meraki Labs -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-success"><span class="fa fa-cloud"></span> Meraki</h3>

                <div class="checkbox" ng-repeat="lab in merakilabs | unique: 'labname'">
                    <input type="checkbox" ng-click="bookLab(usercookie,lab.labname)"> <b>Lab Name:</b> {{ lab.labname }} <b>Lab Type:</b> {{lab.labtype}}
            </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p><a href="http://cs.co/trainingday">Cisco Silicon Valley Territory - Training Day</a>.</p>
</div>
</body>
</html>
